<!DOCTYPE html>
<html>
<head>
    <title>WebSocket SpringBootDemo</title>
</head>
<body>

<div class="login-form">
    <div class="inset">
        <div class="login-head">
            <h1>用户登录</h1>
            <div class="alert-close"></div>
        </div>
        <form method="post" action="/login">
            <li>
                <input name="username" type="text" class="text" placeholder="用户名"/>
            </li>
            <div class="clear"></div>
            <li>
                <input name="password" type="password" class="form-control" placeholder="密 码"/>
            </li>
            <div class="clear"></div>
            <div class="submit">
                <input type="submit" value="提  交">
                <h4><a href="#"></a></h4>
                <div class="clear"></div>
            </div>
        </form>
    </div>

</div>
</body>
</html>